/* @font-face {
    font-family: "civilization";
    src: url("civ2.woff2");
} */
/* @import url("https://fonts.googleapis.com/css?kit=Cn-lJt-LUxZV2ICofzrQFC41xsIlU3aRljeVp4bgN9IyVUZNXjDz66VLic5ENuM"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins");

:root {
    --main-theme: #dda833;
    --main-background-theme: #ccae5a;

    --secondary-theme: #3d9ee3;
    --secondary-background-theme: #2568c4;
}

body {
    background-color: #222 !important;
    font-family: "Poppins", sans-serif !important;
    text-align: center;
}

code {
    background-color: black;
    color: var(--main-theme);
    padding: 5px;
    border-radius: 5px;
}

#timeline {
    background-color: var(--main-background-theme);
}

.title {
    margin: 20px 0 50px 0;
    text-align: center;
    color: var(--main-theme);
}

.subheading {
    color: #eee;
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}




.file-upload {
    background-color: transparent;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: black;
    background-color: var(--secondary-theme);
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: .2s ease-in-out;
    outline: none;
    cursor: pointer;
    font-family: Poppins, sans-serif;
}

.file-upload-btn:hover {
    background-color: var(--secondary-background-theme);
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    left: 0;
    padding: 0;
    width: 600px;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.file-upload-wrap {
    margin-bottom: 20px;
    border: 4px dashed var(--main-background-theme);
    position: relative;
}

.image-dropping,
.file-upload-wrap:hover {
    background-color: #333;
    border: 4px dashed var(--main-theme);
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text p {
    color: var(--main-theme);
    padding: 60px 0;
    margin: auto;
    font-size: 24px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}